  <ons-toolbar>
    <div class="center">Marcos Oliveira</div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <ons-list>
      <ons-list-header class="email">marcos.oliveira@eletraenrgy.com</ons-list-header>
      <ons-list-item (click)="showCategory()">
        <div class="center">
          Approvals
        </div>
        <div class="right">
          <ons-icon icon="md-thumb-up-down" class="list-item__icon"></ons-icon>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="center">
          Alerts
        </div>
        <div class="right">
          <ons-icon icon="md-notifications" class="list-item__icon"></ons-icon>
        </div>
      </ons-list-item>
      <ons-list-header></ons-list-header>
      <ons-list-item (click)="popSignIn()">
        <div class="center">
          Exit
        </div>
        <div class="right">
          <ons-icon icon="md-mail-reply-all" class="list-item__icon"></ons-icon>
        </div>
      </ons-list-item>
    </ons-list>
  </div>