

<ons-progress-bar indeterminate *ngIf="isLoad"></ons-progress-bar>

<div class="content">

    <app-logo></app-logo>
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
      
      <p>
          <ons-input id="email" placeholder="Email" modifier="underbar" formControlName="email"></ons-input>
        <span *ngIf="displayMessages.email">
          <p class="msg-validation" [innerHTML]="displayMessages.email"></p>
        </span>
      </p>
  
      <p>
        <ons-input
          id="password"
          placeholder="Password"
          type="password"
          modifier="underbar"
          formControlName="password"
        >
        </ons-input>
        <span *ngIf="displayMessages.password">
          <p class="msg-validation" [innerHTML]="displayMessages.password"></p>
        </span>
      </p>
  
      <p>
          <ons-input
            id="confirmPassword"
            placeholder="Confirm Password"
            type="password"
            modifier="underbar"
            formControlName="confirmPassword"
          >
          </ons-input>
          <span *ngIf="displayMessages.confirmPassword">
            <p class="msg-validation" [innerHTML]="displayMessages.confirmPassword"></p>
          </span>
        </p>
    
      <p class="buttons">
          <ons-button type="submit" modifier="underbar" (click)="resetPassword()" [disabled]="!resetPasswordForm.valid || isLoad">Reset Password
          </ons-button>
      </p>
      <!-- <p class="buttons">
          <ons-button (click)="popresetPassword()" modifier="material--flat">Sign in</ons-button>
      </p> -->
    </form>
  </div>