<ons-toolbar>
  <app-toolbar></app-toolbar>
</ons-toolbar>
<div class="content">
    <ons-list>
      <ons-list-header>Approvals By Category</ons-list-header>
      <ons-list-item tappable> 
        <div class="center">
          Pedido de Venda
        </div>
        <div class="right">
          <span class="notification notification--material">45</span>
        </div>
      </ons-list-item>
      
      <ons-list-item tappable> 
        <div class="center">
          Pedido de Compra
        </div>
        <div class="right">
          <span class="notification notification--material">100</span>
        </div>
      </ons-list-item>

      <ons-list-item tappable> 
        <div class="center">
          Aprovação de Produto cliente Energisa Mato grosso
        </div>
        <div class="right">
          <span class="notification notification--material">45</span>
        </div>
      </ons-list-item>
    </ons-list>
</div>