<ons-toolbar>
  <app-toolbar>
    <div class="center">Category</div>
  </app-toolbar>
</ons-toolbar>
<div class="content">
    <ons-list>
      <ons-list-header>Approvals By Category</ons-list-header>
      <ons-list-item tappable *ngFor="let item of categorys$ | async " (click)="pushDisplayApprovals(item.id)"> 
        <div class="center">
          {{item.name}}
        </div>
        <div class="right">
          <span class="notification notification--material">{{item.count}}</span>
        </div>
      </ons-list-item>
    </ons-list>
</div>