<div style="text-align: center; margin-top: 200px">
    <p>
      <ons-input id="email" placeholder="Email" modifier="underbar"></ons-input>
    </p>
  
    <p>
      <ons-input
        id="password"
        placeholder="Password"
        type="password"
        modifier="underbar"
      >
      </ons-input>
    </p>
  
    <p class="buttons">
      <ons-button (click)="signIn()">Sign in</ons-button>
    </p>
    <p class="buttons">
        <ons-button (click)="pushRegister()" modifier="material--flat">Register</ons-button>
    </p>
    <p class="buttons">
      <ons-button modifier="material--flat" (click)="pushForgotPassword()">Forgot password?</ons-button>
    </p>
</div>