.msg-validation{
    font-size: small;
    margin: auto;
    text-align: center;
    color: red;
}

.content{
    text-align: center; 
    /* margin-top: 200px; */
}

.buttons ons-button{
    width: 100%;
    max-width: 195px;
}

.buttons{
    margin: auto;
}
