


<ons-progress-bar indeterminate *ngIf="isLoad"></ons-progress-bar>
<div class="content">

    <form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm">
      <p>
          <ons-input id="email" placeholder="Email" modifier="underbar" formControlName="email"></ons-input>
        <span *ngIf="displayMessages.email">
          <p class="msg-validation" [innerHTML]="displayMessages.email"></p>
        </span>
      </p>
  
    
      <p class="buttons">
          <ons-button type="submit" modifier="underbar" (click)="forgotPassword()" [disabled]="!forgotPasswordForm.valid || isLoad">
            Forgot Password
          </ons-button>
      </p>
      <p class="buttons">
          <ons-button (click)="popForgotPassword()" modifier="material--flat" [disabled]="isLoad">
            Sign in
          </ons-button>
      </p>
    </form>
  </div>