<ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="openMenu()">
        <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Approval Center</div>
    <div class="right">
      <ons-icon icon="md-thumb-up-down" size="24px">
        <span class="notification notification--material">1000</span>
      </ons-icon>
      <ons-icon icon="md-notifications" size="24px">
        <span class="notification notification--material">0</span>
      </ons-icon>
    </div>
</ons-toolbar>
