<form (ngSubmit)="register()" [formGroup]="registerForm">
<div style="text-align: center; margin-top: 200px">
    <p>
      <ons-input id="username" placeholder="Username" modifier="underbar"></ons-input>
      <span *ngIf="displayMessages.name">
        <p [innerHTML]="displayMessages.name"></p>
      </span>
    </p>
    <p>
        <ons-input id="email" placeholder="Email" modifier="underbar"></ons-input>
      </p>
    <p>
      <ons-input
        id="password"
        placeholder="Password"
        type="password"
        modifier="underbar"
      >
      </ons-input>
    </p>

    <p>
        <ons-input
          id="confirmPassword"
          placeholder="Confirm Password"
          type="password"
          modifier="underbar"
        >
        </ons-input>
      </p>
  
    <p>
        <ons-button>Save</ons-button>
    </p>
    
    <p>
        <ons-button (click)="popRegister()">Sign in</ons-button>
    </p>
</div>
</form>